<%- include('../layout/adminheader') %>

	<h2 class="page-title">Add a Categories</h2>
	<a href="admin/categories" class="btn btn-primary">Back to all Categories</a>
	<br><br>

	<form method="post" action="/admin/categories/add-categories">
		<div class="form-group">
			<label>Title *</label>
			<input type="text" name="title" class="form-control" value="<%= title %>" placeholder="Title">
		</div>

		<button class="btn btn-default">Kirim</button>
	</form>

	<%- include('../layout/adminfooter') %>