img.pimage{
	width: 150px;
}

a.pahref {
	display: inline-block;
	height: 160px;
}

.row .product .p{
	margin-top: 20px;
	margin-bottom: 20px; 
}

img.spi{
	width: 100%;
}

img.cpi{
	width: 100px;
}
.box-img{
	width: 199px;
	height: 199px;
	align-items: center;
}